.Phonetic {
  display: flex;
  gap: 10px;
  margin: 8px 0;
}

.audio-button {
  background: #ffa2b6;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.audio-button:hover {
  transform: scale(1.1);
}

.text {
  font-size: 16px;
  opacity: 0.8;
  padding-top: 7px;
}
